.navTop{
	padding-left: 3%;
	background: url(../imgs/icons/arr_t.png) no-repeat 97% center/auto 0.8rem;
}
.navCon li{
	float: left;
	width: 25%;
	text-align: center;
	height: 45px;
	line-height: 45px;
}
.navCon .cut{
	color: #00ccff;
	border-bottom: 2px solid #00ccff;
}
.navCon_sigle{
	padding-right: 10%;
	height: 45px;
	overflow: hidden;
}
.navDown{
	position: absolute;
	right: 0;
	top: 0;
	height: 45px;
	width: 10%;
	background:url(../imgs/icons/arr_d.png) no-repeat center center/auto 0.8rem;
}
.navMenu_con{
	padding: 10px 0;
}
.navMenu_con li{
	width: 50%;
}
.navMenu_con li:nth-child(1){
	border-right: 1px solid #dedede;
}
.navMenu_con li i{
	padding-right: 1.6rem;
	background: url(../imgs/icons/arr_d02.png) no-repeat right center/auto 0.6rem;
}
.navMenu_con .cut i{
	background-image: url(../imgs/icons/arr_t02.png);
}
.menuList li{
	width: 100%;
	height: 45px;
	line-height: 45px;
	border-bottom: 1px solid #DEDEDE;
}
.menuList .cut{
	background: #f2f2f2;
}
.product_Title{
	padding: 15px 0;
}
.product_Title i{
	width: 12%;
	margin: 10px auto;
	border-bottom: 2px solid #dedede;
}
.product_List{
	width: 94%;
	margin: 0 auto 20px;
	padding-bottom: 10px;
	border-radius: 15px;
	box-shadow: rgba(0,0,0,0.3) 0 0 10px 2px;
	background: #fff;
}
.product_List h2{
	line-height: 22px;
	padding: 5px 10px;
}
.product_List img{
	width: 100%;
	height: auto;
}
.price{
	padding:0px 10px;
}
.product_List ul li{
	width: 33.33%;
	padding: 10px 0;
}
.progressbar{
	padding: 5px 10px;
	width: 100%;
}
.progressbar img{
	width: 100%;
}
.productTxt{
	padding: 5px 10px;
}
